{% load static %}

<div class="footer-container">
    <p class='footer-brand jc'>yıldırım</p>
    <div class="footer-row jc">
        <a class='links' href="#">Home</a>
        <a class='links' href="#">About</a>
        <a class='links' href="#">Contact</a>
    </div>
    <div class="footer-row social jc">
        <img class='social' src={% static 'mysite/img/ig.png' %} href='http://www.instagram.com' alt="">
        <img class='social' src={% static 'mysite/img/wp.png' %} href='http://www.instagram.com' alt="">
        <img class='social' src={% static 'mysite/img/git.png' %} href='http://www.instagram.com' alt="">
        <img class='social' src={% static 'mysite/img/link.png' %} href='http://www.instagram.com' alt="">

    </div>
</div>