{% load static %}

<div id="card-container">
        <div class="col-2 firstCard ">
            <div class="card card1">
                <div class="card-body">
                    <p class='card-text'>ALI YILDIRIM</p>
                    <button id='btnShowDetail' onclick='showDetails()' type='button'>Show Details</button>
                </div>
            </div>
        </div>
        <div class="col-6 hiddenCard ">
            <div class="card">
                <div class="card-body">
                    <div class='row'>    
                        <div class="col-6">
                            <p class='subHeader'>SKILLS</p>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/c.png' %} alt="">
                                <p class='text' >C</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/css.png' %} alt="">
                                <p class='text' >Css</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/html.png' %} alt="">
                                <p class='text' >Html</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/python.png' %} alt="">
                                <p class='text' >Python</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/django.png' %} alt="">
                                <p class='text' >Django</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/bootstrap.png' %} alt="">
                                <p class='text' >Bootstrap</p>
                            </div>
                            <div class="row">
                                <img class='icon' src={% static 'mysite/img/js.png' %} alt="">
                                <p class='text' >JavaScript</p>
                            </div>

                        </div>
                        <div class="col-6 fr">
                            <p class='subHeader'>ABOUT ME</p>

                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/nametag.png' %} alt="">
                                <p class='text' >Ali Yıldırım</p>
                            </div>
                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/university.png' %} alt="">
                                <p class='text' >Pamukkale U.</p>
                            </div>
                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/education.png' %} alt="" style='margin-top:7px;'>
                                <p class='text' >Management Information S.</p>
                            </div>
                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/github.png' %} alt="">
                                <p class='text' >
                                    <a href="https://github.com/ylrmali">Github</a>
                                </p>
                            </div>
                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/linkedin.png' %} alt="">
                                <p class='text' >
                                    <a href="https://www.linkedin.com/in/ylrmali/">Linkedln</a>
                                </p>
                            </div>
                            <div class="row mt3">
                                <img class='icon' src={% static 'mysite/img/instagram.png' %} alt="">
                                <p class='text' >
                                    <a href="https://www.instagram.com/ylrmali/">Instagram</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <button  id='btnCloseDetails' onclick='closeDetails()' type='button'>
                        Close Details
                    </button>
                </div>
            </div>
        </div> 
</div>
