{% load static %}

<div class="container jc">
    <p class='header' >MY WORKS</p>
    <div class="row1 mt jc">
        <div class="col-5">
            <div class="webCard">
                <img class='sitePhoto' src={% static 'mysite/img/efor.png' %} alt="">
                <a href="http://ylrmali15.pythonanywhere.com" class='link'>ylrmali15.pythonanywhere.com</a>
            </div>
        </div>
        <div class="col-5">
            <div class="webCard">
                <img class='sitePhoto' src={% static 'mysite/img/site.png' %} alt="">
                <a href="http://ylrmali.pythonanywhere.com" class='link'>ylrmali.pythonanywhere.com</a>
            </div>
        </div>
    </div>
</div>