{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mysite/css/cont.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/footer.css' %}">

    <title>Document</title>
</head>
<body>

    {% include 'partials/_navbar.html' %}

    <div class="container">
        <p class="contact-header">CONTACT WITH ME</p>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <a href="https://wa.me/905442752389?text=Ali%20Yıldırım" class="item wp">WHATSAPP</a>
                </div>
                <div class="row">
                    <a href="https://www.instagram.com/ylrmali/" class="item ig">INSTAGRAM</a>
                </div>
                <div class="row">
                    <a href="https://twitter.com/ylrmali_" class="item tw">TWITTER</a>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <a href="https://github.com/ylrmali" class="item git">GITHUB</a>
                </div>
                <div class="row">
                    <a href="https://www.linkedin.com/in/ylrmali/" class="item linkedin">LINKEDIN</a>
                </div>
                <div class="row">
                    <a href="mailto:ayildirim.21@posta.pau.edu.tr" class="item gmail">GMAIL</a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'partials/_footer.html' %}


    
    <script scr="{% static 'mysite/js/home.js' %}"></script>
</body>
</html>